# Содержимое файла /etc/systemd/system/starburger-clearsessions.timer
[Unit]
Description=Timer for clear star burger sessions

[Timer]
OnBootSec=300
OnUnitActiveSec=1w

[Install]
WantedBy=multi-user.target
