{% extends 'base_restaurateur_page.html' %}
{% load admin_urls %}

{% block title %}Необработанные заказы | Star Burger{% endblock %}

{% block content %}
  <center>
    <h2>Необработанные заказы</h2>
  </center>

  <hr/>
  <br/>
  <br/>
  <div class="container">
   <table class="table table-responsive">
    <tr>
      <th>ID заказа</th>
      <th>Статус заказа</th>
      <th>Стоимость заказа</th>
      <th>Способ оплаты</th>
      <th>Клиент</th>
      <th>Телефон</th>
      <th>Адрес доставки</th>
      <th>Рестораны</th>
      <th>Комментарий</th>
      <th>Ссылка на админку</th>
    </tr>

    {% for order in order_items %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{order.get_state_display}}</td>
        <td>{{ order.order_price }} руб. </td>
        <td>{{ order.get_pay_method_display }} </td>
        <td>{{ order.firstname }}</td>
        <td>{{ order.phonenumber }}</td>
        <td>{{ order.address }}</td>
        <td>
        {% if order.who_cook %}
          Готовит {{ order.who_cook }}
        {% else %}
            {% for serialized_restaurant in order.serialized_restaurants %}
              <details>
                <summary>{{ serialized_restaurant.name}} - {{serialized_restaurant.repr_distance}}</summary>
                {{ serialized_restaurant.address }}
              </details>

            {% endfor %}

        {% endif %}
        </td>
        <td>{{ order.comment }}</td>
        <td><a href="{% url 'admin:foodcartapp_order_change' order.id %}?next={{ request.get_full_path|urlencode }}">Редактировать</a></td>
      </tr>
    {% endfor %}
   </table>
  </div>
{% endblock %}
